@model IEnumerable<Models.StoreFront>

@{
    ViewData["Shop"] = "PickStore";
    Layout = "../Shared/_LayoutCustomer.cshtml";
}

<h1 style="color:mintcream;">Pick Store</h1>
<br />

<div class="container">
    <form class="row" asp-action="PickStore">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @foreach (var item in Model)
        {
            <div class="col-sm-3 form-group" style="display:flex;">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>
                        @Html.ActionLink("Go to location", "Order", "Order", new { id = item.Id })
                        <span asp-validation-for="@item" class="text-danger"></span>
                    </div>
                </div>
            </div>
        }
    </form>
</div>