@model Models.StoreFront

@{
    ViewData["Title"] = "CreateStore";
}

<h1 style="color:mintcream;">Create Store</h1>

<h4 style="color:mintcream;">StoreFront</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateStore">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label" style="color:mintcream;"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color:mintcream;">Back to List</a>
</div>

