
@{
    ViewData["Title"] = "Index";
}

<h1 style="color:mintcream;">Welcome back Mr. Martinez!</h1>


<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Restock Inventory</h5>
        <a asp-area="" asp-controller="Brian" asp-action="Restock">Restock</a>
    </div>
</div>
