
@{
    ViewData["Title"] = "Index";
}

<h1 style="color:mintcream;">Welcome back Mr. Martinez!</h1>

<a style="color:mintcream;" asp-area="" asp-controller="Brian" asp-action="CreateStore">Store DB</a>
<br />
<a style="color:mintcream;" asp-area="" asp-controller="Brian" asp-action="CreateProduct">Product DB</a>
<br />
<a style="color:mintcream;" asp-area="" asp-controller="Brian" asp-action="CreateInventory">Inventory DB</a>
